{% extends('base.html.twig') %}

{% block class %}class="full"{% endblock %}

{% block insight %}
    <section class="insight_zone activites">
        <div class="insight">
            <a href="#ateliers">
                <article>
                    <h2>Ateliers</h2>
                    <hr>
                    <div class="image">
                        <img src="{{ asset('assets/img/pinceauxwide.jpg')}}" alt="" class="imgw">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, deserunt ipsa quaerat est qui obcaecati et ex ut.</p>
                    <p class="press">
                        Découvrir les ateliers
                    </p>
                </article>
            </a>
        </div>
        <div class="insight">
            <a href="#events">
                <article>
                    <h2>Événements</h2>
                    <hr>
                    <div class="image">
                        <img src="{{ asset('assets/img/pinceauxwide.jpg')}}" alt="" class="imgw">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, deserunt ipsa quaerat est qui obcaecati et ex ut mollitia.</p>
                    <p class="press">
                        Découvrir les événements
                    </p>
                </article>
            </a>
        </div>
    </section>
{% endblock %}

{% block main %}
    <section class="show" id="ateliers">
        <h1>Les prochains ateliers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="flex">
            {% for date in dates %}
                <div class="showActivite">
                    <div class="content">
                        <div class="cover">
                            <img src="{% if date.atelier.cover %}{{ asset('assets/img/upl/'~date.atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if date.atelier.alt %}{{ date.atelier.alt }}{% else %}Absence d'image{% endif %}" class="imgh">
                        </div>
                        <article class="description">
                            <h2>{{ date.atelier.nom }}</h2>
                            <p>{{ date.atelier.description }}</p>
                        </article>
                    </div>
                    <div class="soon">
                        <h2>Prochain Atelier</h2>
                        <p>{{ date.date | date('D') }}</p>
                        <p>{{ date.date | date('d') }}</p>
                        <p>{{ date.date | date('M') }}</p>
                        <p>{{ date.date | date('H:i') }}</p>
                        {% if app.user in date.participants %}
                            <a href="{{ path('annulation', {'userID' : app.user.id, 'detailID' : date.id, 'event':'0' }) }}" class="cancelbtn">Se désinscrire</a>
                        {% else %}
                            {% if date.places and date.participants |length >= date.places %}
                                <p class="soldout">Complet</p>
                            {% else %}
                                <a href="{% if app.user %}{{ path('reservation', {'userID' : app.user.id, 'detailID' : date.id, 'event':'0' }) }}{% else %}{{ path('login', {'anchor':'ateliers'}) }}{% endif %}" class="neobtn">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="show" id="ateliers">
        <h1>Nos autres ateliers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="flex">
            {% for atelier in ateliers %}
                <div class="showActivite">
                    <div class="content">
                        <div class="cover">
                            <img src="{% if atelier.cover %}{{ asset('assets/img/upl/'~atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if atelier.alt %}{{ atelier.alt }}{% else %}Absence d'image{% endif %}" class="imgh">
                        </div>
                        <article class="description">
                            <h2>{{ atelier.nom }}</h2>
                            <p>{{ atelier.description }}</p>
                        </article>
                    </div>
                    <div class="soon">
                        <h2>Prochain Atelier</h2>
                        <p>Aucune date prévue</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="show" id="events">
        <h1>Les événements</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="flex">
            {% if events |length >0 %}
                {% for event in events %}
                    <div class="showEvent">
                        <div class="content">
                            <div class="cover">
                                <img src="{% if event.atelier.cover %}{{ asset('assets/img/upl/'~event.atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if event.atelier.alt %}{{ event.atelier.alt }}{% else %}Absence d'image{% endif %}" class="imgh">
                            </div>
                            <article class="description" id="chocolate">
                                <h2>{{ event.atelier.nom }}</h2>
                                <p>{{ event.atelier.description }}</p>
                            </article>
                        </div>
                        <div class="soon">
                            <h2>Prochain Événement</h2>
                            <p>{{ event.date | date('D') }}</p>
                            <p>{{ event.date | date('d') }}</p>
                            <p>{{ event.date | date('M') }}</p>
                            <p>{{ event.date | date('H:i') }}</p>
                            {% if app.user in event.participants %}
                                <a href="{{ path('annulation', {'userID' : app.user.id, 'detailID' : event.id, 'event':'1' }) }}" class="cancelbtn">Se désinscrire</a>
                            {% else %}
                                {% if event.places and event.participants |length >= event.places %}
                                    <p class="soldout">Complet</p>
                                {% else %}
                                <a href="{% if app.user %}{{ path('reservation', {'userID' : app.user.id, 'detailID' : event.id, 'event':'1' }) }}{% else %}{{ path('login', {'anchor':'events'}) }}{% endif %}" class="neobtn" id="orange">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="content">
                    <h2>Aucun événement prévu</h2>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}