{% extends('base.html.twig') %}

{% block class %}class="full"{% endblock %}

{% block insight %}
    <section class="insight_zone activites">
        <div class="insight">
            <a href="#ateliers">
                <article>
                    <h2>Ateliers</h2>
                    <hr>
                    <div class="image">
                        <img src="{{ asset('assets/img/pinceauxwide.jpg')}}" alt="" class="imgw">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, deserunt ipsa quaerat est qui obcaecati et ex ut mollitia laborum ducimus amet natus reiciendis eum eius voluptatum, beatae hic ipsam, velit obcaecati, cumque ea similique necessitatibus.</p>
                    <p class="press">
                        Découvrir les ateliers
                    </p>
                </article>
            </a>
        </div>
        <div class="insight">
            <a href="#events">
                <article>
                    <h2>Événements</h2>
                    <hr>
                    <div class="image">
                        <img src="{{ asset('assets/img/pinceauxwide.jpg')}}" alt="" class="imgw">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, deserunt ipsa quaerat est qui obcaecati et ex ut mollitia laborum ducimus amet natus reiciendis eum eius voluptatum, beatae hic ipsam, velit obcaecati, cumque ea similique necessitatibus.</p>
                    <p class="press">
                        Découvrir les événements
                    </p>
                </article>
            </a>
        </div>
    </section>
{% endblock %}

{% block main %}
    <section class="show" id="ateliers">
        <h1>Les ateliers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="flex">
            {% for atelier in ateliers %}
                <div class="showActivite">
                        <div class="content">
                            <div class="cover">
                            <img src="{% if atelier.cover %}{{ asset('assets/img/upl/'~atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if atelier.alt %}{{ atelier.alt }}{% else %}Absence d'image{% endif %}" class="imgh">
                            </div>
                                <article class="description">
                                <h2>{{ atelier.nom }}</h2>
                                <p>{{ atelier.description }}</p>
                            </article>
                        </div>
                        <div class="soon">
                            <h2>Prochain Atelier</h2>
                            {% if atelier.details |length > 0 %}
                                {% set i = 0 %}
                                {% for detail in atelier.details %}
                                    {% if detail.date > now %}
                                        {% if i == 0 %}
                                            <p>{{ detail.date | date('D') }}</p>
                                            <p>{{ detail.date | date('d') }}</p>
                                            <p>{{ detail.date | date('M') }}</p>
                                            <p>{{ detail.date | date('H:i') }}</p>
                                            {% if app.user in detail.participants %}
                                                <a href="{{ path('annulation', {'userID' : app.user.id, 'detailID' : detail.id, 'event':'0' }) }}" class="neobtn">Se désinscrire</a>
                                            {% else %}
                                                {% if detail.participants |length >= detail.places %}
                                                    <p>Complet</p>
                                                {% else %}
                                                    <a href="{% if app.user %}{{ path('reservation', {'userID' : app.user.id, 'detailID' : detail.id, 'event':'0' }) }}{% else %}{{ path('login') }}{% endif %}" class="neobtn">S'inscrire</a>
                                                {% endif %}
                                            {% endif %}
                                            {% set i = i + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p>Aucune date prévue</p>
                            {% endif %}
                        </div>
                    </div>

            {% endfor %}
        </div>
    </section>
    <section class="show" id="events">
        <h1>Les événements</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="flex">
            {% if events |length >0 %}
            {% for event in events %}
                {% if event.visibility %}
                    <div class="showActivite">
                        <div class="content">
                            <div class="cover">
                                <img src="{% if event.cover %}{{ asset('assets/img/upl/'~event.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if event.alt %}{{ event.alt }}{% else %}Absence d'image{% endif %}" class="imgh">
                            </div>
                            <article class="description">
                                <h2>{{ event.nom }}</h2>
                                <p>{{ event.description }}</p>
                            </article>
                        </div>
                        <div class="soon">
                            <h2>Prochain Événement</h2>
                            {% if event.details |length > 0 %}
                                {% set i = 0 %}
                                {% for detail in event.details %}
                                    {% if detail.date > now %}
                                        {% if i == 0 %}
                                            <p>{{ detail.date | date('D') }}</p>
                                            <p>{{ detail.date | date('d') }}</p>
                                            <p>{{ detail.date | date('M') }}</p>
                                            <p>{{ detail.date | date('H:i') }}</p>
                                            {% if app.user in detail.participants %}
                                                <a href="{{ path('annulation', {'userID' : app.user.id, 'detailID' : detail.id, 'event':'1' }) }}" class="neobtn">Se désinscrire</a>
                                            {% else %}
                                                <a href="{% if app.user %}{{ path('reservation', {'userID' : app.user.id, 'detailID' : detail.id, 'event':'1' }) }}{% else %}{{ path('login') }}{% endif %}" class="neobtn">S'inscrire</a>
                                            {% endif %}
                                            {% set i = i + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p>Aucune date prévue</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <div class="content">
                <h2>Aucun événement prévu</h2>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock %}