{% extends('base.html.twig') %}

{% block class %}class="full"{% endblock %}

{% block insight %}
    <section id="activites" class="container-fluid d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-items-center">
        <div class="insight col-md-5 p-2">
            <a href="#ateliers" id="linka">
                <article>
                    <h2>Ateliers</h2>
                    <hr>
                    <div class="image d-none d-md-block">
                        <img src="{{ asset('assets/img/pinceauxwide.jpg')}}" alt="" class="img-fluid anime">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, deserunt ipsa quaerat est qui obcaecati et ex ut.</p>
                    <p class="bouton">
                        Découvrir les ateliers
                    </p>
                </article>
            </a>
        </div>
        <div class="insight col-md-5 p-2 mt-sm-0 mt-4">
            <a href="#events" id="linke">
                <article>
                    <h2>Événements</h2>
                    <hr>
                    <div class="image d-none d-md-block">
                        <img src="{{ asset('assets/img/pinceauxwide.jpg')}}" alt="" class="img-fluid anime">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, deserunt ipsa quaerat est qui obcaecati et ex ut mollitia.</p>
                    <p class="bouton">
                        Découvrir les événements
                    </p>
                </article>
            </a>
        </div>
    </section>
{% endblock %}

{% block mainclass %}class="container mt-4"{% endblock %}
{% block main %}
    <section id="ateliers">
        <h1>Les prochains ateliers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="show d-md-flex justify-content-around flex-md-wrap">
            {% for date in dates %}
                <div class="showActivite d-flex justify-content-between align-items-center col-md-5 pl-0 mt-4">
                    <div class="content">
                        <div class="image">
                            <img src="{% if date.atelier.cover %}{{ asset('assets/img/upl/'~date.atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if date.atelier.alt %}{{ date.atelier.alt }}{% else %}Absence d'image{% endif %}" class="img-fluid">
                        </div>
                        <article class="description p-4">
                            <h2>{{ date.atelier.nom }}</h2>
                            <p>{{ date.atelier.description }}</p>
                        </article>
                    </div>
                    <div class="soon pl-4 text-center">
                        <h2 class="mb-4">Prochain Atelier</h2>
                        <p>{{ date.date | format_datetime(pattern="EEEE", locale="fr") | upper }}</p>
                        <p>{{ date.date | date('d') }}</p>
                        <p>{{ date.date | format_datetime(pattern="LLLL", locale="fr") | upper }}</p>
                        <p>{{ date.date | date('H:i') }}</p>
                        {% if app.user in date.participants %}
                            <form action="{{ path('annulation', {'userID' : app.user.id, 'detailID' : date.id, 'event':'0' }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir vous désinscrire de l\'atelier {{ date.atelier.nom }} ?')">
                                <input type="hidden" name="_token" value="{{ csrf_token('annulation' ~ app.user.id) }}">
                                <button class="bouton red">Se désinscrire</button>
                            </form>
                        {% else %}
                            {% if date.places and date.participants |length >= date.places %}
                                <p class="soldout">Complet</p>
                            {% else %}
                                {% if app.user %}
                                    <form action="{{ path('reservation', {'userID' : app.user.id, 'detailID' : date.id, 'event':'0' }) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('reservation' ~ app.user.id) }}">
                                        <button class="bouton">S'inscrire</button>
                                    </form>
                                {% else %}
                                    <a href="{{ path('login', {'anchor':'ateliers'}) }}" class="bouton">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="mt-4">
        <h1>Nos autres ateliers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="show d-md-flex justify-content-around flex-md-wrap">
            {% for atelier in ateliers %}
                <div class="showActivite d-flex justify-content-between align-items-center col-md-5 pl-0 mt-4">
                    <div class="content">
                        <div class="image">
                            <img src="{% if atelier.cover %}{{ asset('assets/img/upl/'~atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if atelier.alt %}{{ atelier.alt }}{% else %}Absence d'image{% endif %}" class="img-fluid">
                        </div>
                        <article class="description p-4">
                            <h2>{{ atelier.nom }}</h2>
                            <p>{{ atelier.description }}</p>
                        </article>
                    </div>
                    <div class="soon pl-4 text-center">
                        <h2>Prochain Atelier</h2>
                        <p>Aucune date prévue</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="show mt-4" id="events">
        <h1>Les événements</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequatur, dolor eveniet fuga
            illum ipsa laboriosam.</p>
        <div class="show">
            {% if events |length >0 %}
                {% for event in events %}
                    <div class="showActivite d-flex justify-content-between align-items-center pl-0 mt-4 mb-4">
                        <div class="content">
                            <div class="image">
                                <img src="{% if event.atelier.cover %}{{ asset('assets/img/upl/'~event.atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{% if event.atelier.alt %}{{ event.atelier.alt }}{% else %}Absence d'image{% endif %}" class="img-fluid">
                            </div>
                            <article class="description p-4">
                                <h2>{{ event.atelier.nom }}</h2>
                                <p>{{ event.atelier.description }}</p>
                            </article>
                        </div>
                        <div class="soon p-4 text-center">
                            <h2 class="mb-4">Prochain Événement</h2>
                            <p>{{ event.date | format_datetime(pattern="EEEE", locale="fr") | upper }}</p>
                            <p>{{ event.date | date('d') }}</p>
                            <p>{{ event.date | format_datetime(pattern="LLLL", locale="fr") | upper }}</p>
                            <p>{{ event.date | date('H:i') }}</p>
                            {% if app.user in event.participants %}
                                <form action="{{ path('annulation', {'userID' : app.user.id, 'detailID' : event.id, 'event':'1' }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler ?')">
                                    <input type="hidden" name="_token" value="{{ csrf_token('annulation' ~ app.user.id) }}">
                                    <button class="bouton red">Se désinscrire</button>
                                </form>
                            {% else %}
                                {% if event.places and event.participants |length >= event.places %}
                                    <p class="soldout">Complet</p>
                                {% else %}
                                    {% if app.user %}
                                        <form action="{{ path('reservation', {'userID' : app.user.id, 'detailID' : event.id, 'event':'1' }) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('reservation' ~ app.user.id) }}">
                                            <button class="bouton">S'inscrire</button>
                                        </form>
                                    {% else %}
                                        <a href="{{ path('login', {'anchor':'ateliers'}) }}" class="bouton">S'inscrire</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <h2>Aucun événement prévu</h2>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}