{% extends('base.html.twig') %}

{% block insight %}
    {% include('pwup/_topbar.html.twig') %}
{% endblock %}

{% block main %}
    <section class="manage">
        <table>
            <caption>Les ateliers</caption>
            <thead>
            <tr>
                {% for message in app.flashes('success') %}
                    <th colspan="8" class="success">
                        {{ message }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Ateliers programmés</th>
                <th>Image</th>
                <th>Montrer</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            {% for atelier in ateliers %}
                <tr>
                    <td>{{ atelier.nom }}</td>
                    <td>{{ atelier.description }}</td>
                    <td>{{ atelier.details | length }}</td>
                    <td><img class="thumb" src="{% if atelier.cover %}{{ asset('assets/img/upl/'~atelier.cover) }}{% else %}{{ asset('assets/img/none.jpg')}}{% endif %}" alt="{{ atelier.alt }}"></td>
                    <td><a href="{{ path('toggleVisibility', {'id':atelier.id}) }}">{% if atelier.visibility %}Oui{% else %}Non{% endif %}</a></td>
                    <td><a href="{{ path('updateAtelier', {'id':atelier.id}) }}">Modifier</a></td>
                    <td>
                        <form method="post" action="{{ path('delAtelier', {'id':atelier.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ atelier.id) }}">
                            <button class="pwbut">Suppr.</button>
                        </form>
                    </td>
                    <td><a href="{{ path('pwAtelier', {'id':atelier.id}) }}">Voir</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td  colspan="8"> <a href="{{ path('addActivite', {'event':'0'}) }}">Ajouter un atelier</a></td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
{% block footer %}{% endblock %}