{% extends('base.html.twig') %}

{% block insight %}
    {% include('pwup/_topbar.html.twig') %}
{% endblock %}

{% block main %}
    <section class="manage">
        <article class="atelier">
            <h2>{{ detail.atelier.nom }}</h2>
            <h4>État : {% if detail.atelier.visibility %}Publié{% else %}Non publié{% endif %}</h4>
            <p>Description : {{ detail.atelier.description }}</p>
            <a href="{{ path('updateAtelier', {'id':detail.atelier.id}) }}" class="pwbut">Modifier</a>
        </article>

        <article class="atelier">
            <h2>Date : {{ detail.date | date('D d/m/Y') }}</h2>
            <h4>Heure : {{ detail.date | date('H:i') }}</h4>
            <p>Places : {{ detail.places }} Prix : {% if detail.price > 0 %}{{ detail.price }}€{% else %}Gratuit{% endif %}</p>
            <a href="{{path('update_date', {'id':detail.id})}}" class="pwbut">Modifier</a>
            <a href="{{ path('pwAtelier', {'id':detail.atelier.id}) }}" class="pwbut">Retour</a>
        </article>
    </section>
{% endblock %}
