<nav id="mobile_menu" role="navigation" class="container-fluid d-lg-none fixed-bottom">
    <ul class="menu_list d-flex justify-content-around align-items-center">
        <a href="{{path('showActivites')}}" class="d-block col-2 py-2 {% if current_menu is defined and current_menu == 'activites' %}glow{% endif %}">
            <li>
                <img src="{{ asset('assets/img/SVG/brush_white.svg')}}" alt="" class="img-fluid">
            </li>
        </a>
        <a href="#" class="d-block col-2 py-2 {% if current_menu is defined and current_menu == 'soutenir' %}glow{% endif %}">
            <li>
                <img src="{{ asset('assets/img/SVG/heart_white.svg')}}" alt="" class="img-fluid">
            </li>
        </a>
        <a href="{{path('contact')}}" class="d-block col-2 py-2 {% if current_menu is defined and current_menu == 'contact' %}glow{% endif %}">
            <li>
                <img src="{{ asset('assets/img/SVG/contact_white.svg')}}" alt="" class="img-fluid">
            </li>
        </a>
    </ul>
</nav>
