<div id="top_bar">
    <a href="{{path('home')}}" id="logo" {% if current_menu is defined and current_menu == 'home' %}class="active"{% endif %}>
        <img src="{{ asset('assets/img/SVG/logo_GEM_full.svg')}}" alt="">
    </a>

    <nav id="main_menu" role="navigation">
        <ul class="menu_list">
            <a href="{{path('showActivites')}}" class="menu_item {% if current_menu is defined and current_menu == 'activites' %}active{% endif %}">
                <li>
                    <img src="{{ asset('assets/img/SVG/brush_ico.svg')}}" alt="" class="menu_icon">
                    Activités
                </li>
            </a>
            <a href="#" class="menu_item {% if current_menu is defined and current_menu == 'soutenir' %}active{% endif %}">
                <li>
                    <img src="{{ asset('assets/img/SVG/heart_ico.svg')}}" alt="" class="menu_icon">
                    Nous soutenir
                </li>
            </a>
            <a href="#" class="menu_item {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}">
                <li>
                    <img src="{{ asset('assets/img/SVG/contact_ico.svg')}}" alt="" class="menu_icon">
                    contact
                </li>
            </a>
        </ul>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('admin')}}" class="menu_item {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}">
        <span>admin</span>
    </a>
    {% endif %}

    {% if app.user %}
        <a href="{{path('logout')}}" class="connect">
            <img src="{{ asset('assets/img/SVG/user_ico.svg')}}" alt="" class="menu_icon">
            <span>Se déconnecter</span>
        </a>
        {% else %}
            <a href="{{path('login')}}" class="connect {% if current_menu is defined and current_menu == 'login' %}active{% endif %}">
                <img src="{{ asset('assets/img/SVG/user_ico.svg')}}" alt="" class="menu_icon">
                <span>Se connecter</span>
            </a>
    {% endif %}
</div>
